.list {
  text-align: left;
  margin: auto;
}

.submit-form {
  max-width: 500px;
  margin: auto;
}

.edit-form {
  max-width: 500px;
  margin: auto;
}
.newcasetxt {
  color: red;
  font-size:12px;
  display:inline;
}
.cardtxt {
  text-align: center;
  height: 125px;
}
.cardtext {
  padding-top: 5px;
  font-size: 35px;
}
.chart {
  width: 50%;
  height: 400px;
  display: inline-block;
}