.list {
  text-align: left;
  margin: auto;
}

.submit-form {
  max-width: 500px;
  margin: auto;
}

.edit-form {
  max-width: 500px;
  margin: auto;
}
.newcasetxt {
  color: red;
  font-size:12px;
  display:inline;
}
.cardtxt {
  text-align: center;
  height: 125px;
}
.cardtext {
  padding-top: 5px;
  font-size: 35px;
}
.chart {
  width: 50%;
  height: 400px;
  display: inline-block;
}

.mapchart{
  width: 1070px;
  height: 550px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: rgba(243, 241, 241, 0.096);
   color:black;
   text-decoration: none;
}

.active {
  background-color: #4CAF50;
 
}
